*{
    margin:0;
    padding:0;
    text-wrap:pretty;
    
}



header, footer{
    background-color: #ffbb22;
}
img{
    width:100%;
}
nav{
    background-color:#ffbb22;
    text-decoration:none;
    position:sticky;
    top:0;
    height:6vh;
    
}
li{
    display:inline-flex;
    float:right;
}
.navo{
    display:none
}
.navo{
    padding-right: 2.5%;
    padding-top:1vh;
    font-size:3vh;
    font-family: "Montserrat Alternates", sans-serif;
    

}
.navo:hover{
    color:#ffffff;
}
#hamb{
    padding-top:0.5vh;
    height:3vh;
}
#hamb:hover{
filter:invert(100%);
}
.navi{
    padding-right: 2.5%;
    padding-top:1.5vh;
    font-size:18px;
    font-family: "Montserrat Alternates", sans-serif;

}
.navi:hover{
    color:#ffffff;
}
#wompek{
    margin:0vh 5vh;
    width:400px;
    float:right;
}
pre{
    margin:0vw 30vw 0vw 10vw;
    font-size:18px;
    font-family: "Montserrat Alternates", sans-serif;
    text-wrap:initial;
}
h1{
    margin:0vw 2vw;
    font-size:70px;
    font-family:'Nerko One','Gill Sans', Sans-serif;
    line-height:80%;
}

footer{
    height:10vh;
    font-family: "Montserrat Alternates", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {display:block;}
#img2 {display:none;}



@media all and (max-width:1080px){
    h1{
        font-size:90px;
    }
    pre{font-size:24px;}
    p{font-size:24px;}
    #img1 {display:none;}
    #img2 {display:block;}
    .navi{
        display:none;
    }
    .navo{
        display:block;
    }
    #wompek{
        width:100%;
        padding:10px 0px;
        margin:0;
    }
}
.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

