header{
    background-color:#aac1ff
    
}
.navbar ul{
    display:inline;
    list-style-type:none;
    overflow:hidden;
    
}
.navbar li{
    padding:10px;
 float:right;
 margin-top:10px;
 margin-right:10px;
}
.navbar a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration:none;
}
body{
    margin:0;
    padding:0;
    background-color:#aac1ff
}

pre{
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color:cadetblue;
}
.navbar img{
display:inline;
}
footer{
    font-family:'Courier New', Courier, monospace;
    left: 0;
    bottom: 0%;
    width: 100%;
    height:60px;
    position:relative;
    display:block;
    background-color:#aac1ff;
    text-align:center;
  
}
table, th, td{
    border:2px solid #3333ff;
}
th, td{
background-color:#ffffff;
    
}


