*{
    margin:0;
    padding:0;
    text-wrap:pretty;
    
}



header, footer{
    background-color: #ffbb22;
}
img{
    width:100%;
}
nav{
    background-color:#ffbb22;
    text-decoration:none;
    position:sticky;
    top:0;
    height:6vh;
    
}
li{
    display:inline-flex;
    float:right;
}
.navo{
    display:none
}
.navo{
    padding-right: 2.5%;
    padding-top:1.5vh;
    font-size:20px;
    font-family: "Montserrat Alternates", sans-serif;

}
.navo:hover{
    color:#ffffff;
}
#hamb:hover{
filter:invert(100%);
}
.navi{
    padding-right: 2.5%;
    padding-top:1.5vh;
    font-size:18px;
    font-family: "Montserrat Alternates", sans-serif;

}
.navi:hover{
    color:#ffffff;
}

pre{
    margin:0vw 30vw 0vw 10vw;
    font-size:18px;
    font-family: "Montserrat Alternates", sans-serif;
}
h1{
    margin:0vw 2vw;
    font-size:70px;
    font-family:'Nerko One','Gill Sans', Sans-serif;
}

footer{
    height:10vh;
    font-family: "Montserrat Alternates", sans-serif;
}

#foot{
    text-align:center;
    padding:20px; 
}
#img1 {display:block;}
#img2 {display:none;}



@media all and (max-width:1080px){
    #img1 {display:none;}
    #img2 {display:block;}
    .navi{
        display:none;
    }
    .navo{
        display:block;
    }
}
.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
