*{
    margin:0;
    padding:0;
    text-wrap:pretty;
    font-family: "Montserrat Alternates", sans-serif;
}

body{
    background-image: url("gallery/background.png");
}
header, footer{
    background-color: #ffbb22;
}
img{
    max-width:100%;
}
nav{
    background-color:#ffbb22;
    text-decoration:none;
    position:sticky;
    top:0;
    height:6vh;
    
}
li{
    display:inline-flex;
    float:right;
}
.navo{
    display:none
}
.navo{
    padding-right: 2.5%;
    padding-top:1vh;
    font-size:3vh;
    font-family: "Montserrat Alternates", sans-serif;
    

}
.navo:hover{
    color:#ffffff;
    cursor:pointer;
}
#hamb{
    padding-top:0.5vh;
    height:3vh;
}
#hamb:hover{
filter:invert(100%);
cursor:pointer;
}
.navi{
    padding-right: 2.5%;
    padding-top:1.5vh;
    font-size:18px;
    font-family: "Montserrat Alternates", sans-serif;

}
.navi:hover{
    color:#ffffff;
    cursor:pointer;
}
h2{
    font-size:8vh;
    font-family:'Nerko One','Gill Sans', Sans-serif;
}
.button{
    color:#ffffff;
    
    padding:0.5vh 5vh;
    border-radius:30% 80%;

    background-color:#ffbb22;
    box-shadow:0px 0px 40px #ffbb22;
    display:inline-block;
    margin:5vh 10vw;
}
    
.button:hover{
    display:"nic nie robixd";
    cursor:pointer;
}
.button .tooltip{
    font-family: "Montserrat Alternates", sans-serif;
    visibility:hidden;
    font-size:20px;
    color:#000000;
    background-color:#ff8822;
    margin: 0px 0px 0px 15px;
    padding: 10px;
}
.button:hover{
    color:#ffbb22;
    background-color:#000000;
}
.button:hover .tooltip{
    visibility:visible;
}


#wompek{
    margin:0vh 5vh 0vh 0vh;
    width:400px;
    float:right;
    
}
#bunb{
   
    margin:15vh 0vh;
    object-fit:scale-down;
    
}
p{
    font-size:2vh;
}
pre{
    margin:0vw 30vw 0vw 10vw;
    font-size:2vh;
    font-family: "Montserrat Alternates", sans-serif;
    text-wrap:initial;
}
h1{
    margin:0vw 2vw;
    font-size:15vh;
    font-family:'Nerko One','Gill Sans', Sans-serif;
    line-height:80%;
    padding: 4vw 2vw;
}

footer{
    height:10vh;
    font-family: "Montserrat Alternates", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {display:block;}
#img2 {display:none;}


@media all and (max-width:1080px){
  
    pre{
        font-size:3vh;
        margin:1vw;
    }

    p{font-size:3vh;}
    
    h1{font-size:18vw;
    padding:6vw 0vw;}
    
    #img1 {display:none;}
    #img2 {display:block;}
    .navi{
        display:none;
    }
    .navo{
        display:block;
    }
    #wompek{
        width:100%;
        padding:10px 0px;
        margin:0;
    }
    h2{
        font-size:20vw;
    }
    .button .tooltip{
font-size:30px;
}
} 
.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}




